body {
  font-family: 'Press Start 2P', cursive;
  align-items: center;
  text-align: center;
  background-image: url(../assets/Mountains_PS_lightened.png);
}

p {
  font: 'Press Start 2P', cursive;
  display: inline-block;
}

#pauseButton {
  display: none;
}

canvas {
  display : block;
  margin : auto;
}
